// style.css

html {
    margin: 0;
    padding: 0;
}

body {
	font-size: 85%;
    margin: 0;
    padding: 0;
	color: #000000;
	background-color: #ffffff;
}

div#main {
    padding: 5%;
}

h1 {
	font: 2em "Lucida Grande", Lucida, Verdana, sans-serif;
}

div#content {
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
	font-style: italic;
    color: #666666;
}