// style.css

body {
	font-size: 75%;
    padding: 0;
    margin: 0;
}

div#main {
    margin: 0;
    padding: 5%;
    color: #4b362c;
	background-color: #dbcbbe;
}

h1 {
	font: 2em "Lucida Grande", Lucida, Verdana, sans-serif;
}

div#content {
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
	font-style: italic;
    color: #4b362c;
}